@font-face {
    font-family: "GothamBold";
    src: url("./Gotham-Bold.ttf");
}

@font-face {
    font-family: "GothamMedium";
    src: url("./Gotham-Medium.ttf");
}

@font-face {
    font-family: "GothamLight";
    src: url("./Gotham-Light.ttf");
}

@font-face {
    font-family: "GothamThin";
    src: url("./Gotham-Thin.ttf");
}

@font-face {
    font-family: "GothamXLight";
    src: url("./Gotham-XLight.ttf");
}

.footer {
    background-color: #2D2A2A;
    color: white;
    padding: 30px 10%;
    font-family: "GothamLight";
    border-top: 1px solid white;
    max-width:100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 15px;
}

.footer-section h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
    color: #50B087;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px solid white;
    padding-top: 10px;
}