
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background:  #2D2A2A;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container {
    width: 90%;
    max-width: 440px;
    padding: 30px;
    background: #2D2A2A;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    border: 1px solid white;

}
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 15px;
    margin-left: 15px;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
    padding: 20px ;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #50B087;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    background-color: #3d8c6e;
    transform: scale(1.05);
}
